body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-cart a{
text-decoration: none;
font-weight: bold;
}
.webpage-container{
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-nav{
  background-color: brown;
}

/* .App-header{
  width: 100%;
  height: 8vh;
  background-color: darkred;
  font-size: 1.5rem;
  text-indent: 2%;
} */
main{
  flex: 1.5;
}

/* header a{
  font-weight: bold;
  text-decoration: none;
  color: white;

} */

.btn-primary{
  background-color: salmon;
  border: solid burlywood ;
  color: white;
}
.prods{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
  .prod{
    width: 220px;
    border: 1px lightgrey solid;
    margin: 0;
  }

  .prod img{
    width: 218px;
    height: 220px;
    /* border: solid blue; */
    max-width: 350;
  }
  .img-thumbnail{
    height: 60px;
  }

  .prodInfo{
    text-align: left;
  }

.rating span{
  color: grey;
}
.small-container{
  max-width: 580px;
}
.signin-container{
  max-width: 580px;
}

.prod-page-img{
  max-width: 100%;
}

.steps-checkout > div{
  border-bottom: .3rem solid grey;
  color: grey
}
.checkout-steps > div.active {
  border-bottom: 0.3rem solid orangered;
  color: orangered;
}